.kutu1{
  background-color: coral;
  height: 50px;
  color: white;
}
.kutu2{
  background-color: rgb(10, 75, 75);
  height: 400px;
}
.kutu3{
  background-color: coral;
  height: 100px;
  color: black;
}
*{
  padding: 0%;
  margin: 0%;
}
.home{
  position: absolute;
  left: 1200px;
  top: 7px;
}
.movies{
  position: absolute;
  left: 1270px;
  top: 7px;
}
.Contact{
  position: absolute;
  left: 1350px;
  top: 7px;
}
a{
  color: white;
  text-decoration: none;
}